<!doctype html>
<head>
    <title>This is a chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main class="mx-xxl-3 my-xxl-3 ">
        <div class="text-left">
            <h1 class="h5">Derik Welcome you:</h1>            
          </div>
        <form method="post" action="{{url_for('chat')}}">
            <div class="col-md-6 text-left margin-left:20">
                
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-left align-items-left my-1">
                    
                 <label class="form-label fw-bold fs-5">Type your question:</label>
                 <input type="text" class="form-control" id="question" name="question" style="max-width: 556px;">
                </div>
                
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-right my-2">
                  <button type="submit" class="button">Commit</button>
                </div> 
                <div>
                    <h1 class="h4 fw-bold">Answer：{{answer}}</h1>
                </div>
            </div>
        </form>
     </main>      
   </body>
</html>